[Desktop Entry]
Type=Application
Name=Mednafen SNES
Comment=Mednafen (SNES core)
Exec=mednafen %f
Icon=icon
Terminal=false
Categories=emulators;
X-OD-NeedsDownscaling=false
