[Desktop Entry]
Type=Application
Name=Mednafen
Comment=Mednafen
Exec=mednafen %f
Icon=icon
Terminal=false
Categories=emulators;
X-OD-NeedsDownscaling=true
