[Desktop Entry]
Type=Application
Name=Mednafen PCFX
Comment=Mednafen (PCFX Core)
Exec=mednafen_pcfx -force_module pcfx %f
Icon=icon_pcfx
Terminal=false
Categories=emulators;
X-OD-NeedsDownscaling=true
MimeType=application/x-cue;text/file;
