[Desktop Entry]
Type=Application
Name=Mednafen PSX
Comment=Mednafen (PSX Core)
Exec=mednafen -force_module psx %f
Icon=icon
Terminal=false
Categories=emulators;
X-OD-NeedsDownscaling=true
MimeType=application/x-cue;text/file;
